a {
  text-decoration: none;
}

img.logo {
  height: 50vh;
}

.background-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.8);
}

.background-image {
  background-image: url(https://images.unsplash.com/photo-1495214783159-3503fd1b572d?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center top;
  filter: blur(5px) brightness(60%);
  width: 100%;
  height: 100%;
}

.content-section {
  width: 100%;
  position: relative;
  z-index: 1;
}

.text-over-image {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-over-image > button {
  width: fit-content;
  font-size: 2rem;
  font-weight: 500;
  background-color: transparent;
  color: white;
  border: 2px solid var(--dark-blue);
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 1rem;
}
.text-over-image > button:hover {
  cursor: pointer;
}
.welcome-text {
  width: 80%;
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

.cards-section {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  padding: 2rem;
  gap: 3rem;
  width: 80%;
}
.card {
  border: 1px solid white;
  border-radius: 10px;
}
.card-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center top;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.card-title {
  color: white;
  font-size: 1.3rem;
  overflow: auto;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.3rem;
}


.card-title-description-container {
  padding: 0.5rem;
}
