<main>
  <section class="background-section">
    <div class="background-image"></div>
  </section>
  <section class="content-section">
    <div class="text-over-image">
      <a href="#"> <img src="../../../assets/images/logo.png" alt="logo" class="logo"/></a>
      <button (click)="onClick()">Get cooking</button>
    </div>

    <section class="cards-section">
      <div class="cards-container" *ngFor="let recipe of recipes">
        <div class="card">
          <a [routerLink]="['/recipes', recipe.id]"> <img src="{{recipe.imageUrl}}" alt="" class="card-img"/></a>
          <a [routerLink]="['/recipes', recipe.id]"><h3 class="card-title">{{recipe.title}}</h3></a>
        </div>
      </div>
    </section>
  </section>
</main>
