*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
  width: 90%;
}

.card {
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.02);
}

.card-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center top;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card-title {
  color: var(--dark-blue);
  font-size: 1.2rem;
  height: 80px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.category-title-rating {
  padding: 0.5rem;
}
.fa-star {
  color: #f39c12;
}
.card-category {
  font-size: 1rem;
  color: var(--blue);
  display: inline-block;
  margin-right: 0.5rem;
  height: 25px;
}

.card-category > span {
  margin-right: 5px;
}


.image-cover {
  height: 250px;
  width: 100%;
  object-fit: cover;
  filter: brightness(60%);
  z-index: -1;
}

.text-content {
  text-align: center;
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
}

.text-content h1 {
  color: #333;
  margin-bottom: 30px;
  font-size: 2.5rem;
}

.text-content p {
  color: #555;
  line-height: 1.6;
  font-size: 1rem;
}

.fave-container {
  display: flex;
  height: 500px;
  gap: 1rem;
  margin: 0 80px;
  justify-content: center;
  align-items: center;
  /*width: 80%;*/
}

.big-card {
  position: relative;
  width: 70%;
  height: 400px;
}

.big-card-link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.big-card-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  z-index: -1;
}

.big-card-img:hover {
  transform: scale(1.02);
}

.big-card-title {
  text-decoration: none;
  color: white;
  position: relative;
  font-size: 50px;
  z-index: 1;
  text-align: center;
  width: 100%;
  padding: 0 3rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 3rem;
}

.top-pick {
  width: 30%;
  color: #f39c12;
  font-size: 120px;
  text-align: center;
  line-height: normal;
}
