<nav class="nav-header">
  <div class="nav-links">
    <a href="/home">Home</a>
    <a href="/about">About</a>
    <a href="/recipes">Meals</a>
  </div>

  <div *ngIf="user; else notLoggedIn" class="nav-user-container">
    <a href="/user-profile">
      <img src="{{user.image}}" alt="User Profile Picture" class="nav-profile-picture"/>
      {{ user.username }}
    </a>
    <button class="log-in-btn" (click)="logout()">Log out</button>
  </div>

  <ng-template #notLoggedIn>
    <div class="nav-user-container">
      <a href="/login">
        <i class="fa-solid fa-circle-user"></i>Login
      </a>
    </div>
  </ng-template>

</nav>
