a {
  text-decoration: none;
}

.nav-header {
  background-color: rgba(124, 150, 171, 0.5);
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 10vh;
}

.nav-links > a,
.nav-user-container > a {
  font-size: 2rem;
}
.nav-links,
.user-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-links > a,
.nav-user-container > a {
  color: white;
}
.fa-circle-user {
  font-size: 1.5rem;
}
.nav-user-container > a {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.nav-profile-picture {
  width: 50px;
  height: 35px;
  border-radius: 50%;
  margin-top: 5px;
}
