<main>
  <section class="background-section">
    <div class="background-image"></div>
  </section>
  <div class="page-container">
    <div class="profile" *ngIf="!editBtnContainer && user">
      <img src="{{user.image}}" class="profile-picture"/>
      <div class="user-details">
        <div class="user-detail">
          <h4>First Name:</h4>
          <div id="firstName">{{user.firstName}}</div>
        </div>
        <div class="user-detail">
          <h4>Last Name:</h4>
          <p id="lastName">{{user.lastName}}</p>
        </div>
        <div class="user-detail">
          <h4>Username:</h4>
          <p id="username">{{user.username}}</p>
        </div>
        <div class="user-detail">
          <h4>Email:</h4>
          <p id="email">{{user.email}}</p>
        </div>
        <button mat-flat-button id="edit-user-details-btn" (click)="toggleEdit()">
          <mat-icon>edit</mat-icon>
          Edit
        </button>
      </div>
    </div>
    <form id="edit-profile-form" *ngIf="editBtnContainer && user">
      <div class="upload-image-container">
        <img
          src="{{user.image}}"
          class="profile-picture"/>
        <div class="overlay">
          <label for="fileInput" class="upload-btn">Choose File</label>
          <input id="fileInput" class="upload-btn" type="file" style="display: none;" #imageInput
                 (change)="onFileChange($event)"/>
        </div>
      </div>
      <div class="form-details">
        <mat-form-field appearance="outline">
          <mat-label>First name</mat-label>
          <input matInput type="text" id="editFirstName" name="editFirstName" [(ngModel)]="user.firstName"/>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Last name</mat-label>
          <input matInput type="text" id="editLastName" name="editLastName" [(ngModel)]="user.lastName"/>
        </mat-form-field>
        <button
          mat-flat-button
          type="button"
          id="save-user-details-btn"
          (click)="editUserProfile()">
          Save
        </button>
      </div>
    </form>

    <h1 class="posts-and-reviews">Recipes and Reviews by <span>{{user?.username}}</span>:</h1>
    <mat-tab-group>
      <mat-tab label="Recipes">
        <div class="recipes">
          <h2>Recipes ({{ totalRecipes }})</h2>
          <button mat-raised-button id="create-recipe-btn" (click)="openDialog()">Create recipe</button>
          <div id="recipeContainer" class="scrollableContainer" *ngIf="totalRecipes > 0 else noRecipes">
            <div *ngFor="let recipe of recipes">
              <mat-card class="recipes-card">
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-title>
                      <a [routerLink]="['/recipes', recipe.id]">
                        {{ recipe.title }}
                      </a>
                    </mat-card-title>
                    <mat-card-subtitle>
                      {{ recipe.datePublished }}
                    </mat-card-subtitle>
                    <img mat-card-sm-image src="{{ recipe.imageUrl }}" alt="{{ recipe.title }}">
                  </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                  <div class="action-buttons">
                    <mat-icon style="color: var(--blue)">edit</mat-icon>
                    <mat-icon (click)="deleteRecipe(recipe.id, recipe.title)" color="warn">delete_outline</mat-icon>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Reviews">
        <div class="reviews">
          <h2>Reviews ({{ totalReviews }})</h2>
          <div id="reviewContainer" class="scrollableContainer" *ngIf="totalReviews > 0 else noReviews">
            <div *ngFor="let review of reviews">
              {{ review.description }}
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

    <ng-template #noReviews>
      <div class="noRecipesOrReviews">
        You haven't posted any reviews yet.
      </div>
    </ng-template>
    <ng-template #noRecipes>
      <div class="noRecipesOrReviews">
        You haven't posted any recipes yet.
      </div>
    </ng-template>

    <app-add-recipe-dialog *ngIf="isDialogVisible" (onClose)="isDialogVisible = false"></app-add-recipe-dialog>
  </div>
</main>

