a {
  text-decoration: none;
}

.posts-and-reviews {
  margin-top: 50px;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.background-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  background-color: rgba(0, 0, 0, 0.8);
}

.background-image {
  background-image: url(https://images.pexels.com/photos/1640774/pexels-photo-1640774.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-position: center top;
  filter: blur(5px) brightness(60%);
  width: 100%;
  height: 100%;
}

.page-container {
  width: 60%;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: whitesmoke;
}

.profile-picture {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.profile,
#edit-profile-form {
  display: flex;
  gap: 3rem;
  height: fit-content;
  width: 80%;
}

#edit-profile-form {
  align-items: center;
}

.form-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#save-user-details-btn {
  width: fit-content;
  margin-left: auto;
  border: 1px solid var(--dark-blue);
  color: var(--dark-blue)
}
#create-recipe-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 5px 10px;
  background-color: #FBF9F1;
  color: var(--dark-blue);
}

#create-recipe-btn:hover {
  background-color: var(--peach);
  color: white;
}
label {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}
.user-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.user-detail {
  display: flex;
  gap: 0.5rem;
}

.recipes {
  position: relative;
}

.recipes,
.reviews {
  padding: 1rem 0;
  border-radius: 10px;
  width: 100%;
}
.scrollableContainer {
  display: grid;
  height: 320px;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  overflow-y: auto;
  margin-top: 10px;
  padding: 10px;
  /*border: 1px solid #BEADFA;*/
  border-radius: 5px;
}
#createRecipe {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--gray);
  color: var(--white-text);
  cursor: pointer;
}
#createRecipe:hover {
  background-color: var(--olive-green);
}
#edit-user-details-btn {
  padding: 5px 10px;
  width: fit-content;
}

#edit-user-details-btn:hover {
  color: white;
  background-color: var(--blue);
}

.upload-image-container {
  position: relative;
}

.upload-btn {
  display: none;
  padding: 10px;
  background-color: var(--blue);
  color: white;
}

.upload-btn:hover {
  background-color: #2980b9;
  cursor: pointer;
}


.upload-image-container:hover .upload-btn {
  display: block;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.02);
}

.card-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center top;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card-title {
  color: var(--blue);
  font-size: 1.2rem;
  height: 80px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.category-title-rating {
  padding: 0.5rem;
}
.fa-star {
  color: #f39c12;
}
.card-category {
  font-size: 1rem;
  color: var(--dark-blue);
  display: inline-block;
  margin-right: 0.5rem;
  height: 25px;
}

.card-category-container {
  display: inline-block;
}

.card-category > span {
  margin-right: 0.5rem;
}


.image-cover {
  height: 250px;
  width: 100%;
  object-fit: cover;
  filter: brightness(60%);
  z-index: -1;
}

.text-content {
  text-align: center;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
}

.text-content h1 {
  color: #333;
  margin-bottom: 20px;
}

.text-content p {
  color: #555;
  line-height: 1.6;
}

.recipes-card {
  max-width: 400px;
  margin-bottom: 8px;
  border: 1px solid #BEADFA;
  background-color: #FBF9F1;
}

.action-buttons {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}

mat-tab-group {
  width: 100%;
}

.noRecipesOrReviews {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 320px;
  margin-top: 10px;
  padding: 10px;
  font-size: 25px;
}
