<main>
  <div id="recipeModal" class="modal">
    <div class="modal-content">
      <span class="close" id="closeModalBtn" (click)="closeDialog()">&times;</span>
      <h2 id="modal-title">Upload Recipe</h2>
      <br />

      <form id="recipeForm">
        <input
          type="text"
          id="title"
          name="title"
          placeholder="Title"
          required
          [(ngModel)]="title"
        />

        <label for="image" class="custom-file-upload">Upload Image</label>
        <input
          type="file"
          id="image"
          name="image"
          accept="image/*"
          required
          style="display: none"
          (change)="onFileChange($event)"
        />

        <div id="image-preview-container">
          <p id="preview-text">Preview of the image will be shown here</p>
          <img *ngIf="imagePreview" [src]="imagePreview" alt="Image Preview" />
        </div>

        <textarea
          id="description"
          name="description"
          rows="3"
          cols="1"
          placeholder="Description"
          required
          [(ngModel)]="description"
        ></textarea>
        <div id="ingredientsContainer">
          <label for="ingredients">Ingredients:</label>
          <input
            type="text"
            id="ingredientInput"
            placeholder="Add ingredient"
            name="ingredientName"
            [(ngModel)]="ingredient.name"
          />
          <ol id="ingredientsList">
            <li *ngFor="let ingredient of ingredients">{{ingredient.name}}</li>
          </ol>
        </div>
        <button type="button" (click)="onAddIngredient()">Add</button>


        <label for="instructions">Instructions:</label>
        <textarea
          id="instructions"
          name="instructions"
          rows="3"
          placeholder="Instructions"
          required
          [(ngModel)]="instructions"
        ></textarea>
        <input
          type="number"
          id="cookTime"
          name="cookTime"
          placeholder="Cook time (minutes)"
          required
          [(ngModel)]="cookTime"
        />
        <div class="nutrients-categories-container">
          <table class="nutrients-table">
            <tr>
              <th class="table-head">Nutrients</th>
            </tr>

            <tr>
              <td>
                <input
                  type="number"
                  placeholder="Calories (kcal)"
                  id="calories"
                  name="calories"
                  required
                  [(ngModel)]="calories"
                />
              </td>
            </tr>
            <tr>
              <td>
                <input
                  type="number"
                  placeholder="Carbs (g)"
                  id="carbs"
                  name="carbohydrates"
                  required
                  [(ngModel)]="carbohydrates"
                />
              </td>
            </tr>
            <tr>
              <td>
                <input
                  type="number"
                  placeholder="Fats (g)"
                  id="fats"
                  name="fats"
                  required
                  [(ngModel)]="fats"
                />
              </td>
            </tr>
            <tr>
              <td>
                <input
                  type="number"
                  placeholder="Proteins (g)"
                  id="proteins"
                  name="proteins"
                  required
                  [(ngModel)]="proteins"
                />
              </td>
            </tr>
          </table>
          <div>
            <label for="categories">Categories: </label>
            <mat-form-field>
              <mat-select placeholder="Select.." name="categories" [(ngModel)]="selectedCategoryIds" multiple>
                <mat-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <button id="upload-recipe-btn" type="submit" (click)="onAddRecipe()">Upload recipe</button>
      </form>
    </div>
  </div>
</main>
