<main>
  <div class="modal" id="recipeModal">
    <div class="modal-content">
      <span (click)="closeDialog()" class="close" id="closeModalBtn">&times;</span>
      <h2 id="modal-title">Edit Recipe</h2>
      <br/>

      <form [formGroup]="addRecipe" id="recipeForm">
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input formControlName="title" id="title" matInput name="title" placeholder="Title" required type="text"/>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <ngx-mat-file-input (change)="onFileChange($event)" accept="image/*"
                              formControlName="image"
                              placeholder="Choose a new file (optional)"></ngx-mat-file-input>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea cols="1" formControlName="description" id="description" matInput name="description" placeholder="Description" required
                    rows="3"></textarea>
        </mat-form-field>

        <label>Ingredients:</label>
        <div id="ingredientsContainer">
          <mat-form-field appearance="outline">
            <mat-label>Add ingredient</mat-label>
            <input formControlName="ingredientName" id="ingredientInput" matInput name="ingredientName" placeholder="Add ingredient"
                   type="text"/>
          </mat-form-field>
          <button (click)="onAddIngredient()" id="add-ingredients-btn" mat-raised-button type="button">Add</button>
          <ol id="ingredientsList">
            <li *ngFor="let ingredient of ingredients">{{ ingredient.name }}</li>
          </ol>
        </div>

        <mat-form-field appearance="outline">
          <mat-label>Instructions</mat-label>
          <textarea formControlName="instructions" id="instructions" matInput name="instructions" placeholder="Instructions" required
                    rows="3"></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Cook time (minutes)</mat-label>
          <input formControlName="cookTime" id="cookTime" matInput name="cookTime" placeholder="Cook time (minutes)" required
                 type="number"/>
        </mat-form-field>

        <div class="nutrients-categories-container">
          <table class="nutrients-table">
            <tr>
              <th class="table-head">Nutrients</th>
            </tr>

            <tr>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Calories (kcal)</mat-label>
                  <input formControlName="calories" id="calories" matInput name="calories" placeholder="Calories (kcal)" required
                         type="number"/>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Carbs (g)</mat-label>
                  <input formControlName="carbohydrates" id="carbs" matInput name="carbohydrates" placeholder="Carbs (g)" required
                         type="number"/>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Fats (g)</mat-label>
                  <input formControlName="fats" id="fats" matInput name="fats" placeholder="Fats (g)" required
                         type="number"/>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Proteins (g)</mat-label>
                  <input formControlName="proteins" id="proteins" matInput name="proteins" placeholder="Proteins (g)" required
                         type="number"/>
                </mat-form-field>
              </td>
            </tr>
          </table>

          <div class="categories">
            <mat-form-field appearance="outline">
              <mat-label>Categories</mat-label>
              <mat-select formControlName="selectedCategoryIds" multiple name="categories" placeholder="Select..">
                <mat-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <button (click)="onEditRecipe()" id="upload-recipe-btn" mat-raised-button type="submit">Edit recipe</button>
      </form>
    </div>
  </div>
</main>
