<section>
  <main *ngIf="recipe">
    <div class="title">{{recipe.title}}</div>

    <div class="img-description-container">
      <div class="recipe-image">
        <img class="image" src="{{recipe.imageUrl}}"/>
        <div class="user-date-container">
          <div class="user">
            <img
              src="{{recipe.user.image}}"
              alt=""
              class="user-picture"/>{{recipe.user.firstName}}
          </div>
          <div class="date-published">
            <i class="fa-solid fa-calendar-days"></i>
            {{recipe.datePublished}}
          </div>
        </div>
      </div>
      <div class="description-table-container">
        <div class="description">
          {{recipe.description}}
        </div>
        <table>
          <tbody>
          <tr>
            <th>Calories (kcal)</th>
            <td>{{recipe.calories}}</td>
          </tr>
          <tr>
            <th>Carbohydrates (g)</th>
            <td>{{recipe.carbohydrates}}</td>
          </tr>
          <tr>
            <th>Proteins (g)</th>
            <td>{{recipe.proteins}}</td>
          </tr>
          <tr>
            <th>Fats (g)</th>
            <td>{{recipe.fats}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="recipe-details-container">
      <div class="category-rating-container">
        <div class="categories">
        <span class="category" *ngFor="let category of recipe.categories">
          #{{category.name}}
        </span>
        </div>
        <div class="rating"><i class="fa-solid fa-star"></i>{{recipe.averageRating}}</div>
      </div>
    </div>

    <div class="cooktime"><i class="fa-regular fa-clock"></i> {{recipe.cookTime}}min</div>
    <div class="ingredients">
      <h2>Ingredients:</h2>
      <ul>
        <li *ngFor="let ingredient of ingredients">{{ingredient.name}}</li>
      </ul>
    </div>
    <div class="instructions-container">
      {{recipe.instructions}}
    </div>
    <br/>
    <hr/>
    <div class="reviews">
      <div class="reviews-header">
        <h3>REVIEWS ({{getReviewCount()}})</h3>
        <button class="add-review-btn" (click)="toggleReview()" *ngIf="user != undefined">
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>

      <mat-expansion-panel [(expanded)]="showReviewContainer" *ngIf="showReviewContainer && user" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="user">
              <img src="{{ user.image }}" alt="" class="user-picture" />
              {{ user.username }}
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <form enctype="multipart/form-data">
          <mat-form-field id="ratingField">
            <mat-label>Rating</mat-label>
            <mat-select [(ngModel)]="ratingValue" name="ratingValue">
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="3">3</mat-option>
              <mat-option value="4">4</mat-option>
              <mat-option value="5">5</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field id="descriptionField">
            <mat-label>Review Description</mat-label>
            <textarea matInput name="reviewDescription" [(ngModel)]="reviewDescription"></textarea>
          </mat-form-field>
          <div class="add-btn-container">
            <button mat-icon-button (click)="addReview()">
              <mat-icon>send</mat-icon>
            </button>
          </div>
        </form>

        <button mat-button class="cancel-btn" (click)="closeReviewDialog()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-expansion-panel>

      <div *ngIf="reviews && allUsersNotNull(reviews); else noReview" class="reviews">
        <div class="review" *ngFor="let review of reviews">
          <div class="user">
            <img src="{{review.user.image}}" alt="" class="user-picture" />{{review.user.firstName}}
          </div>
          <p class="rating">Rating: {{review.ratingValue}}/5 <i class="fa-solid fa-star"></i></p>
          <p>{{review.description}}</p>
        </div>
      </div>
      <ng-template #noReview>
        <p class="no-review">No reviews have been posted yet.</p>
      </ng-template>
    </div>
  </main>
</section>
