<main>
  <div class="background-container"></div>
  <div class="form-img-container">
    <form action="/login.php" method="post" class="login-form">
      <label for="username">
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Username"
          [(ngModel)] = "request.username"
          required/>
      </label>

      <label for="password"><input
        type="password"
        id="password"
        name="password"
        placeholder="Password"
        [(ngModel)] = "request.password"
        required/>
      </label>

      <p>Don't have an account yet? <a href="/register">Register</a></p>
      <button type="submit" (click)="onSubmit()">Login</button>

    </form>
    <img
      src="assets/images/kelner.png"
      alt=""
      class="kelner"/>
  </div>
</main>
