<body>
<main>
  <div class="container overlay">
    <div class="about">
      <h2 mat-display-2>About CookByte</h2>
      <p>
        Welcome to CookByte, your ultimate destination for sharing and discovering mouthwatering recipes from around
        the world. We're passionate about cooking and believe that everyone, regardless of their culinary expertise,
        should have access to an ever-growing library of delicious, tried-and-tested recipes. CookByte was born out of
        this passion, and we're here to make your cooking journey a delightful and flavorsome experience.
      </p>
    </div>
    <div class="mission">
      <h2 mat-display-2>Our Mission</h2>
      <p>
        At CookByte, our mission is to inspire and empower home cooks, food enthusiasts, and culinary adventurers to
        explore the world of flavors, one recipe at a time. We aim to foster a vibrant and diverse community where
        food lovers of all backgrounds can connect, share, and learn from one another.
      </p>
    </div>

    <div class="what-we-offer">
      <h2 mat-display-2>What We Offer</h2>
      <ul>
        <li mat-subheader>Recipe Sharing</li>
        <li mat-subheader>Recipe Discovery</li>
        <li mat-subheader>Community Engagement</li>
        <li mat-subheader>Cooking Tips and Tricks</li>
      </ul>
    </div>

    <div class="why-cookbyte">
      <h2 mat-display-2>Why CookByte?</h2>
      <ul>
        <li mat-subheader>Diversity</li>
        <li mat-subheader>User-Friendly</li>
        <li mat-subheader>Quality</li>
        <li mat-subheader>Community-Driven</li>
      </ul>
    </div>

    <div class="get-cooking" mat-elevation-z4>
      <p>
        Get ready to create, connect, and celebrate the art of cooking. Your next culinary masterpiece is just a click
        away.
      </p>
    </div>
  </div>
</main>
</body>
