<app-header></app-header>
<main>
  <div class="container">
    <div class="about">
      <h2>About CookByte</h2>
      <p>
        Welcome to CookByte, your ultimate destination for sharing and discovering mouthwatering recipes from around the
        world. We're passionate about cooking and believe that everyone, regardless of their culinary expertise, should
        have access to an ever-growing library of delicious, tried-and-tested recipes. CookByte was born out of this
        passion, and we're here to make your cooking journey a delightful and flavorsome experience.
      </p>
    </div>
    <div class="mission">
      <h2>Our Mission</h2>
      <p>
        At CookByte, our mission is to inspire and empower home cooks, food enthusiasts, and culinary adventurers to
        explore the world of flavors, one recipe at a time. We aim to foster a vibrant and diverse community where food
        lovers of all backgrounds can connect, share, and learn from one another.
      </p>
    </div>

    <div class="what-we-offer">
      <h2>What We Offer</h2>
      <ul>
        <li>Recipe Sharing</li>
        <li>Recipe Discovery</li>
        <li>Community Engagement</li>
        <li>Cooking Tips and Tricks</li>
      </ul>
    </div>

    <div class="why-cookbyte">
      <h2>Why CookByte?</h2>
      <ul>
        <li>Diversity</li>
        <li>User-Friendly</li>
        <li>Quality</li>
        <li>Community-Driven</li>
      </ul>
    </div>

    <div class="get-cooking">
      <p>
        Get ready to create, connect, and celebrate the art of cooking. Your next culinary masterpiece is just a click
        away.
      </p>
    </div>
  </div>
</main>
