a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 80vh;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.background-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(to top right, var(--peach), var(--olive-green));
}
.form-img-container {
  position: absolute;
  bottom: 0;
  left: 10vw;
  width: 100vw;
  height: 90vh;
}
.kelner {
  height: 100%;
}

.register-form {
  position: absolute;
  left: 500px;
  top: 15vh;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  align-items: center;
  width: fit-content;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.register-form::before {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.register-buttons > button {
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  border-radius: 10%;
  position: relative;
  z-index: 2;
  background-color: transparent;

  color: var(--blue);
  transition: transform 300ms ease-in-out;
}
.register-buttons > button:hover, .register-buttons > p > a:hover {
  cursor: pointer;
  transform: scale(1.1);
}


p {
  font-size: 12px;
}

.error-message {
  color: darkred;
}

::ng-deep .mat-mdc-icon-button.mat-primary {
  color: var(--dark-blue) !important;
}


.register-buttons {
  margin-bottom: 20px;
}

