<footer>
  <div class="container">
    <div>
      <img src="../../../assets/images/logo.png" alt="CookByte Logo" class="logo">
    </div>

    <div class="nav-links">
      <a href="#">Home</a>
      <a href="/about">About Us</a>
      <a href="/recipes">Meals</a>
      <a *ngIf="this.user != undefined" href="/user-profile">Your profile</a>
    </div>

    <div class="social-media">
      <a href="#" style="color: #fff; margin: 0 10px; text-decoration: none;"><i class="fab fa-facebook"></i></a>
      <a href="#" style="color: #fff; margin: 0 10px; text-decoration: none;"><i class="fab fa-twitter"></i></a>
      <a href="#" style="color: #fff; margin: 0 10px; text-decoration: none;"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</footer>
