footer {
  z-index: 2;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  height: 80px;
  width: auto;
  display: block;
  padding-left: 35px;
}

.nav-links {
  flex-grow: 2;
  text-align: center;
}

a {
  transition: transform 300ms ease-in-out;
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  font-size: 20px;
}

.nav-links a:hover {
  transform: scale(1.1);
}

.social-media {
  flex-shrink: 0;
  padding-right: 35px;
}
